<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin Feed</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {{ url_for('static' ,filename='styles.css') }}">
</head>
<body>


<!-----------------------------MODAL-------------------------------------------------->   

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          
            <form action="{{url_for('preferences')}}" method="post" id="modal-form">
            
                <div class="location mt-5">
                    <h5>Select Language</h5>
    
                    <!--- India states -->
    <select id="lang" name="language" class="form-control ms-0 mt-4">
        <option value="">Language</option>
        <option value="ar">Arabic</option>
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="it">Italian</option>
        <option value="nl">Dutch</option>
        <option value="pt">Portuguese</option>
        <option value="zh">Chinese</option>
        <option value="ru">Russian</option>      
    </select>
    
    
                </div>

            <div class="location mt-5">
                <h5>Select Location</h5>

                <!--- India states -->
<select id="country-state" name="country" class="form-control ms-0 mt-4">
    <option value="">Select Country</option>
    <option value="us">United States(US)</option>
    <option value="gb">United Kingdom (UK)</option>
    <option value="au">Australia</option>
    <option value="in">India</option>
    <option value="ca">Canada</option>
    <option value="de">Germany</option>
    <option value="fr">France</option>
    <option value="it">Italy</option>
    <option value="es">Spain</option>
    <option value="cn">China</option>
    <option value="jp">Japan</option>
    <option value="kr">South Korea</option>
</select> <br> <br>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-dark" value="Save Changes">
              </div>
            </form>


        </div>
        
      </div>
    </div>
  </div>
<!------------X-----------------MODAL------------------------X-------------------------->
<!--------------------------------NAVBAR-----------------------------------------------> 
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">Bulletin Feed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto logout">
            
            <a class="nav-link px-5" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Settings</a>
          <a class="nav-link" aria-current="page" href="{{ url_for('logout')}}">Logout</a>
        </div>
      </div>
      
    </div>
  </nav>
<!-------------X-------------------NAVBAR-------------------------X---------------------->

<div class="container">
    <hr style="color : white;">
</div>

<main class="container mt-5">
    <div class="row">

        <div class="col-md-8 left">
            <h3>Top Headlines</h3> <br>
            <section class="card-section">
                {% for article in articles[:5] %}
               <div class="headline row">
                
                <div class="col-md-8">
                  <a href="{{ article.url }}" class="text-white" target="_blank"> {{ article.title }}</a>  
                </div>
               <div class="col-md-4">
                <img src="{{ article.urlToImage }}" alt="" class=" headline-img">
               </div> 
                <hr class="mt-3">
               </div>

               {% endfor %}
               

               
            </section>
            
            
    
        </div>

        <div class="topics col-md-4 mt-1">
        
            <section class="topic-1">
                
                <h4>Technology</h4> <br>
                <div class="headline row card-section">

                    {% for tech in tech_news[:2] %}
                    <div class="col-md-8">
                      <a href="{{tech.url}}" target="_blank" class="text-white">{{ tech.title }}</a>  
                    </div>
                   <div class="col-md-4">
                    <img src="{{ tech.urlToImage }}" alt="" class=" headline-img">
                   </div> 
                    <hr class="mt-3">

                    {% endfor %}

                    

                   </div>

                   
            </section>

            <section class="topic-2 mt-5">
                
                <h4>Sports</h4> <br>
                <div class="headline row card-section">
                   
                    {% for sports in sports_news[:2] %}
                    <div class="col-md-8">
                      <a href="{{ sports.url }}" target="_blank" class="text-white">{{ sports.title }}</a>  
                    </div>
                   <div class="col-md-4">
                    <img src="{{ sports.urlToImage }}" alt="" class=" headline-img">
                   </div> 
                    <hr class="mt-3">

                    {% endfor %}

                    
                   </div>

                   
            </section>

        </div>

            
        </section>
    </div>


    <section class="local-news mt-5">
    <h4>Local News</h4>
      
    <div class="card-section row">

        <div class="col-md-4">
            {% for local in local_news[:3] %}
            <div class="headline row ">
            <div class="col-md-8">
               <a href="{{local.url}}" class="text-white"> {{local.title}}</a> 
            </div>
            <div class="col-md-4">
            <img src="{{ local.urlToImage }}" alt="" class=" headline-img">
            </div> 
            <hr class="mt-3">
            </div>
    
            {% endfor %}

    </div>

    <div class="col-md-4">
        {% for local in local_news[4:7] %}
        <div class="headline row ">
        <div class="col-md-8">
           <a href="{{local.url}}" class="text-white"> {{local.title}}</a> 
        </div>
        <div class="col-md-4">
        <img src="{{ local.urlToImage }}" alt="" class=" headline-img">
        </div> 
        <hr class="mt-3">
        </div>

        {% endfor %}

</div>

<div class="col-md-4">
    {% for local in local_news[8:11] %}
    <div class="headline row ">
    <div class="col-md-8">
       <a href="{{local.url}}" class="text-white"> {{local.title}}</a>
    </div>
    <div class="col-md-4">
    <img src="{{ local.urlToImage }}" alt="" class=" headline-img">
    </div> 
    <hr class="mt-3">
    </div>

    {% endfor %}

</div>
    
    </section>

</main>

<footer class="mt-5 text-center container">
    <hr>
    Copyrights©️ 2023 : Siddhant Dudhane
</footer>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>